@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-pashto: "Bahij", "Amiri", Arial, sans-serif;
  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-900: #064e3b;
}

@font-face {
  font-family: 'Bahij';
  src: local('Arial'); /* Fallback for app context */
}

html, body, #root {
  height: 100%;
}

.text-balance {
  text-wrap: balance;
}
